@tailwind base;
@tailwind components;
@tailwind utilities;

.Images {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.transitionMenu {
  animation: OpacityTransition 0.5s linear;
}

@keyframes OpacityTransition {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Images div {
  color: #ff9f1c;
}

.Images div::after {
  font-size: 30px;
}

@media (max-width: 480px) {
  .Images div::after {
    display: none;
  }
}

.Images img {
  width: 350px;
  margin: auto auto;
  border-radius: 8px;
}

@media screen and (min-width: 769px) {
  .Images img {
    width: 50rem;
    margin: auto auto;
    border-radius: 0px;
  }
}

.swiper {
  position: relative;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 1rem !important;
}

.swiper-pagination-bullet {
  position: relative;
  padding: 0.3rem;
  background-color: #ff9f1c !important;
}


.bannerHeroHome{
  background-image: url("https://i.imgur.com/G8Q9i5g.png");
  background-size: cover;
}