@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');


@screen md{
  
.ourHistoryHeader{
  @apply
 backdrop-filter-none
 relative


 
}
}